@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;

  background: linear-gradient(
    0deg,
    rgba(191, 219, 254, 0.783389729299363) 0%,
    rgba(191, 219, 254, 0.27702030254777066) 50%
  );
}

textarea {
  resize: none;
  height: 150px;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#fade-in {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
